:root {
    --primary-color: #F5F5F5;       /* Light Gray */
    --secondary-color: #FFA726;     /* Orange */
    --accent-color: #FF7043;        /* Deep Orange */
    --highlight-color: #EF5350;     /* Soft Red */
    --background-color: #FFFFFF;    /* White */
    --card-bg-color: #FFFFFF;       /* Card background color */
    --card-border-radius: 10px;     /* Rounded corners for cards */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Light shadow color */
    --transition-speed: 0.3s;       /* Transition speed for effects */
    --scrollbar-width: 10px;        /* Width of scrollbar for Firefox */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    background: var(--secondary-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
/*     padding: 1em 2em; */
    box-sizing: border-box;
    box-shadow: 0 4px 6px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}


#websiteTitle {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px;
}


#mainContent {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 68px);
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 768px) {
    #mainContent {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding:0;
        width: 100%;
    }

    #resize-bar {
        display: none;
    }

    #users {
        width: 100% !important; 
        max-width: 100% !important;
        height: 60%;
    }

    #taskDetails {
        width: 100%; 
        height: 40%; 
    }

    .taskDetails {

        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: normal; 
        word-wrap: break-word; 
        word-break: break-word; 
    }
    
}

#users {
    width: 25%;
    background-color: var(--primary-color);
    overflow-y: auto;
    box-shadow: 0 4px 6px var(--shadow-color);
    border-radius: var(--card-border-radius);
    position: relative;
    min-width: 150px;
    max-width: 50%;
}

#resize-bar {
    width: 5px;
  /*   background-color: var(--accent-color); */
    cursor: ew-resize; 
}

#taskDetails {
    flex-grow: 1; 
    padding: 1em;
    background-color: var(--primary-color);
    overflow-y: auto;
    border-left: 1px solid #ddd;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 6px var(--shadow-color);
}


#users::-webkit-scrollbar {
    width: var(--scrollbar-width);
    z-index: 2000 !important;
}

#users::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: var(--card-border-radius);
}

#users::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: var(--card-border-radius);
    border: 2px solid var(--primary-color);
}

#users::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
}

/* Custom scrollbar for Firefox */
#users {
    scrollbar-width: thin;
    scrollbar-color: rgb(39, 39, 39) var(--primary-color);
}

.userCard {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border var(--transition-speed), background-color var(--transition-speed), box-shadow var(--transition-speed), transform var(--transition-speed);
    background-color: var(--card-bg-color);
    padding: 1em;
    border-radius: var(--card-border-radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    margin-bottom: 1em;
}

.userCard:hover{
    background-color: #f7f7f7;
}

.userCard.active {
    border-left: 5px solid var(--accent-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--primary-color);
    border-radius: 0px 10px 10px 0px;
}

.userCardItem img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#taskDetails {
    width: 100%;
    padding: 1em;
    background-color: var(--primary-color);
    overflow-y: auto;
    border-left: 1px solid #ddd;
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 6px var(--shadow-color);
}

#taskDetails p {
    font-size: 1.2em;
    color: var(--accent-color);
    text-align: center;
}

.userCardInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.boldLabel {
    font-weight: bold;
}

.taskCard {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default;
}

.taskCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.taskTitle {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0.5em;
}

.taskDetails {
    font-size: 0.9em;
    color: #555555;
}

.taskDetails div {
    margin-bottom: 0.3em;
}

.taskDetails strong {
    color: #333333;
}

.userTasks {
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: var(--card-border-radius);
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.taskPath {
    color: #3498db;
    text-decoration: none;
    font-weight: bold; 
}

.taskPath:hover {
    text-decoration: underline; 
}


/* Search Area */
#searchArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* General styling for search inputs */
.searchInput, #departmentFilter {
    width: 50%;
    max-width: 600px;
    padding: 10px 15px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Focus state for search inputs */
.searchInput:focus, #departmentFilter:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    background-color: #f9f9f9;
}

/* Placeholder styling */
.searchInput::placeholder, #departmentFilter::placeholder {
    color: #aaa;
    transition: color 0.3s ease;
}

/* Placeholder focus state */
.searchInput:focus::placeholder, #departmentFilter:focus::placeholder {
    color: #007BFF;
}

/* Specific styling for department filter (if needed) */
#departmentFilter {
    font-size: 0.8em;
    background-color: #fff;
    cursor: pointer;
}

.active-tasks{
    color: var(--highlight-color);
    font-weight: bold;
}


.no-tasks{
    color: yellowgreen;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Blur effect on background */
    animation: fadeIn 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: 5% auto; /* Center the modal */
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Responsive width */
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: scaleIn 0.3s ease-out;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button:hover {
    color: #e74c3c; /* Red color on hover */
}

/* Modal Heading */
.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* Form Styling */
#delegateForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#delegateForm label {
    font-size: 16px;
    color: #333;
}

#delegateForm input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#delegateForm button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#delegateForm button:hover {
    background-color: var(--secondary-color); /* Darker blue on hover */
}

/* User Suggestions Dropdown */
.user-suggestions {
    max-height: 200px; /* Limit the height of the suggestion box */
    overflow-y: auto; /* Add scroll if content exceeds height */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    width: calc(100% - 20px); /* Full width minus padding */
    z-index: 1001; /* Ensure it appears above other content */
}

.user-suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.user-suggestion-item:hover {
    background-color: #f0f0f0;
}

.user-suggestion-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-suggestion-item .user-name {
    font-size: 16px;
}

/* Loading Screen */
.loading-screen {
    display: none; /* Hidden by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    z-index: 1002; /* Ensure it appears above other content */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--accent-color);
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Message Screen */
.message-screen {
    display: none; /* Hidden by default */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.message-screen p {
    font-size: 16px;
    margin-bottom: 20px;
}

.message-screen button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.message-screen button:hover {
    background-color: var(--secondary-color);
}


.buttons{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: var(--secondary-color);
    padding: 10px;
  /*   border-radius: 10px; */
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent-color);
    color: black;

}




/* .headerItem {
    flex: 1;
}
 */

 
#loggedInUser {
    text-align: right;
    font-size: 1em;
    color: #FFFFFF;
    width: 15%;
    padding: 10px;
    background-color: #333;
    border-left: 5px solid black;
    text-align: center;

}


.menuButton{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 18px 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;

}

.menuButton:hover{
    transform: translateY(-2px);
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

